In [1]:
import mysql.connector
import os
from dotenv import load_dotenv

# Load .env
load_dotenv()

connection = mysql.connector.connect(
    host=os.getenv("DB_HOST"),
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD"),
    database=os.getenv("DB_NAME")
)

cursor = connection.cursor()
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()

print("Tables in the database:")
for (table,) in tables:
    print(table)

cursor.close()
connection.close()

Tables in the database:
Event
Event_Resource
Person
Resource
Venue

In [7]:
import mysql.connector
import os
from dotenv import load_dotenv

# Load .env
load_dotenv()

def get_db_connection():
    return mysql.connector.connect(
        host=os.getenv("DB_HOST"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        database=os.getenv("DB_NAME")
    )

In [8]:
connection = get_db_connection()
cursor = connection.cursor()

In [9]:
username = "testuser"  # adjust if you want
cursor.execute("SELECT * FROM Person WHERE username = %s", (username,))
result = cursor.fetchall()
print(result)

[]

In [10]:
%pip install bcrypt

from datetime import date
import bcrypt

hashed = bcrypt.hashpw(b"testpassword", bcrypt.gensalt())

values = ("John", "Doe", date(2000, 1, 1), "testuser", hashed.decode(), "john@example.com", "1234567890")

cursor.execute("""
    INSERT INTO Person (FirstName, LastName, DOB, Username, Password, Email, Phone)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
""", values)

connection.commit()
print("Test user inserted.")

Collecting bcrypt
  Downloading bcrypt-4.3.0-cp39-abi3-macosx_10_12_universal2.whl.metadata (10 kB)
Downloading bcrypt-4.3.0-cp39-abi3-macosx_10_12_universal2.whl (498 kB)
Installing collected packages: bcrypt
Successfully installed bcrypt-4.3.0
Note: you may need to restart the kernel to use updated packages.
Test user inserted.

In [11]:
user_id = 1  # replace with the actual personID you want to test

query = """
SELECT Event.EventID, Event.Name, Event.EventDate AS date, Event.StartTime, Event.EndTime, Event.Details, Event.GuestCount,
       Venue.Name AS venue_name, Venue.Address AS address
FROM Event
LEFT JOIN Venue ON Event.VenueID = Venue.VenueID
WHERE Event.CreatedByID = %s
ORDER BY Event.EventDate ASC
"""
cursor.execute(query, (user_id,))
events = cursor.fetchall()
print(events)

[]

In [12]:
user_id = 1  # replace with your personID
new_email = "newjohn@example.com"

query = """
UPDATE Person
SET Email = %s
WHERE PersonID = %s
"""
cursor.execute(query, (new_email, user_id))
connection.commit()
print("Profile updated.")

Profile updated.

In [13]:
user_id = 1  # replace with your personID
new_email = "newjohn@example.com"

query = """
UPDATE Person
SET Email = %s
WHERE PersonID = %s
"""
cursor.execute(query, (new_email, user_id))
connection.commit()
print("Profile updated.")

Profile updated.

In [17]:
cursor.execute("SELECT PersonID, FirstName FROM Person")
people = cursor.fetchall()
print(people)

[(34, 'John')]

In [18]:
# insert venue
venue_data = ("My Venue", "123 Venue Street", 50, 34, 1)  # availability=1, ownerID=34
cursor.execute("""
INSERT INTO Venue (Name, Address, MaxCapacity, OwnerID, Availability)
VALUES (%s, %s, %s, %s, %s)
""", venue_data)
venue_id = cursor.lastrowid

# insert event
from datetime import date
event_data = (
    "Birthday Party",
    venue_id,
    date(2025, 7, 15),
    "18:00",
    "23:00",
    20,
    "Birthday celebration",
    34  # CreatedByID matches the PersonID
)
cursor.execute("""
INSERT INTO Event (Name, VenueID, EventDate, StartTime, EndTime, GuestCount, Details, CreatedByID)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
""", event_data)

connection.commit()
print("Event created successfully.")

Event created successfully.

In [19]:
cursor.execute("SELECT EventID, Name FROM Event")
events = cursor.fetchall()
print(events)

[(64, 'Birthday Party')]

In [20]:
event_id = 64
created_by_id = 34

cursor.execute("""
DELETE FROM Event
WHERE EventID = %s AND CreatedByID = %s
""", (event_id, created_by_id))

connection.commit()
print(f"Event {event_id} deleted successfully.")

Event 64 deleted successfully.

In [21]:
cursor.execute("SELECT * FROM Event")
print(cursor.fetchall())

[]

In [22]:
user_id = 34
new_email = "updatedjohn@example.com"

cursor.execute("""
UPDATE Person
SET Email = %s
WHERE PersonID = %s
""", (new_email, user_id))

connection.commit()
print("Profile updated.")

Profile updated.

In [23]:
cursor.execute("SELECT PersonID, Email FROM Person WHERE PersonID = %s", (user_id,))
print(cursor.fetchall())

[(34, 'updatedjohn@example.com')]